[Desktop Entry]
Name=Antilua
GenericName=Antilua
Comment=Block-based multiplayer game platform
Comment[de]=Blockbasierte Mehrspieler-Spieleplattform
Comment[fr]=Plate-forme de jeu multijoueurs à base de blocs
Exec=antilua
Icon=antilua
Terminal=false
# Note: don't add PrefersNonDefaultGPU here, see #16095
Type=Application
Categories=Game;Simulation;
StartupNotify=false
StartupWMClass=antilua
Keywords=sandbox;world;mining;crafting;blocks;nodes;multiplayer;roleplaying;minetest;
X-Purism-FormFactor=Mobile;Workstation
